@import "./themes.scss";
@import "./variables.scss";
@import "./mixins.scss";

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  background: var(--bg);
  color: var(--text);
  transition: background 0.15s ease, color 0.15s ease;
}

a {
  color: var(--primary);
}
