/* Desktop sidebar */
.desktopOnly {
  display: none;

  @media (min-width: 1024px) {
    display: block;
  }
}

/* Mobile trigger */
.mobileTrigger {
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 50;

  @media (min-width: 1024px) {
    display: none;
  }
}

/* Backdrop */
.drawer__backdrop {
  position: fixed;
  inset: 0;
  background: black;
  z-index: 40;
}

/* Drawer itself */
.drawer {
  position: fixed;
  left: 0;
  top: 0;
  width: 240px;
  height: 100vh;
  background: var(--bg-card);
  // border-right: 1px solid var(--border);
  z-index: 50;
  padding: 1.2rem;

  /* 👇 чтобы было видно выступ */
  transform: translateX(-200px);
  overflow: visible;

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  &__title {
    font-size: 1.4rem;
    color: var(--primary);
    font-weight: 700;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
  }

  &__navItem {
    padding: 0.6rem 0.75rem;
    border-radius: 8px;
    transition: 0.15s;
    color: var(--text);

    &:hover {
      background: var(--primary-soft);
      color: white;
    }
  }
}


.toggle {
  position: fixed;
  top: 50px;
  left: 249;
  z-index: 100;

  width: 40px;
  height: 80px;

  background: var(--bg-card);
  border: none;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3px;

  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;

  transform: translateX(-10px);

  clip-path: path("M0.500019 1.21103e-08C0.500019 20.5 26.277 23.67 26.6904 41.5C27.1038 59.33 0.500019 62.5 0.500019 85.5");
}

.line {
  display: block;
  width: 12px;
  height: 3px;
  background: white;
  margin-left: 5px;
  border-radius: 2px;
  font-size: 5px;
}